@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin: 0;
    padding: 0;
}

.App{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: rgb(235, 192, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.title{
    background: #fff;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.title h1{
    padding-bottom: 0px;
}

.title p{
    padding-bottom: 50px;
}

div.title:after {
content: "";
display: block;
position: absolute;
width: 100%;
height: 30px;
background: linear-gradient(-45deg, transparent 75%, #fff 0) 0 50%,
            linear-gradient(45deg, transparent 75%, #fff 0) 0 50%;
background-size: 30px 30px;
}

div.title:before {
    content: "";
    display: block;
    position: absolute;
    top: 200px;
    left: 6px;
    width: 100%;
    height: 30px;
    background: linear-gradient(-45deg, transparent 75%, rgb(150, 116, 136) 0) 0 50%,
                linear-gradient(45deg, transparent 75%,rgb(150, 116, 136) 0) 0 50%;
    background-size: 30px 30px;
    z-index: -1;
    }

/* Styles just for demo */
h1 {
color: darkmagenta;
text-align: center;
margin: 0;
padding: 0.5em;
font-family: 'Great Vibes', cursive;
font-size: 5em;
}

.h2 {
    color: darkmagenta;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
}


.main-container{
    margin-top: 7%;
    padding: 75px;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 70%;
}

.image-container{
    display: flex;
}

section{
    font-family: cursive;
}


section h2{
    margin: 5px;
    font-size: 3em;
    letter-spacing: 5px;
    background-color: transparent;
    display: inline;
}

section h2{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 45px;
}

section p{
    margin: 2px;
    line-height: 1em;
}